html {
  background-color: black;
  color: white;
}

#meme {
  margin-top: 150px;
  align-content: center;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

img {
  width: 100%;
  border: 5px solid white
}

h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}